:root {
  --text-color: #f0ead6;
  --highlight: rgba(255, 215, 102, 0.8);
  --checkbox: #795656;
  --board-color: #d3d0cd;
}

* {
  color: var(--text-color);
}

#opt-heading {
  flex-basis: 30%;
}

#opt-form {
  flex-basis: 50%;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

#opt-solve {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#opt-sub-heading {
  padding-top: 1%;
}

#solve-btn {
  margin-left: 7.5%;
}

#reset-btn {
  margin-right: 7.5%;
}

#generate-board {
  background-color: #229091;
}

.buttons {
  --c: #229091;
  /* the color*/
  width: 15vh;
  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background:
    var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition:
    background-size 0.4s,
    background-position 0s 0.4s;
  font-size: 1.3em;
  opacity: 1;
  transition: opacity 0.6s ease;
  cursor: pointer;
}

.buttons:hover:not(:disabled) {
  --_p: 100%;
  transition:
    background-position 0.4s,
    background-size 0s;
}

.buttons:active:not(:disabled) {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}

.buttons:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input[type="range"] {
  width: 70%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #000000;
    --highlight: rgba(128, 108, 51, 0.8);
    --checkbox: #cdc3c3;
    --border-color: #a2938b;
  }
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  width: 50px; /* Adjust the width */
  height: 25px; /* Adjust the height */
  background: var(--board-color);
  border-radius: 30px; /* Adjust the border-radius */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.4s;
}

input:checked[type="checkbox"] {
  background: var(--highlight);
}

input[type="checkbox"]::after {
  position: absolute;
  content: "";
  width: 25px; /* Adjust the width */
  height: 25px; /* Adjust the height */
  top: 0;
  left: 0;
  background: var(--checkbox);
  border-radius: 75%; /* Adjust the border-radius */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform: scale(0.8); /* Adjust the scale */
  transition: 0.4s;
}

input:checked[type="checkbox"]::after {
  left: 50%;
}

.option-hint {
  font-size: 65%;
}
.option-sub {
  font-size: 1rem;
}
