:root {
    --sudoku-thick-border: 4px;
}

#sudoku-board {
    justify-content: center;
    aspect-ratio: 1/1;
    margin: 0;
    overflow: none;
    display: flex;
    align-items: center;
    max-width: 55vh;
}

input[type=number] {
    background-color: none;
    outline: 0;
    width: 95%;
    height: 100%;
    text-align: center;
    font-size: 2rem;
    border: 2px solid black;
}

tr:nth-child(3n+1):not(:first-child) td input {
    border-top: 4px solid black;
}

tr:nth-child(3n):not(:first-child) td input {
    border-bottom: 4x solid black;
}

td:nth-child(3n+1):not(:first-child):not(:last-child) input {
    border-left: 4px solid black;
}

td:nth-child(3n):not(:first-child):not(:last-child) input {
    border-right: 4px solid black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}