:root {
    --sudoku-board-size: 65vh;
    --grid-item-dim: calc(var(--sudoku-board-size) / 9);
    --sudoku-thick-border: 4px;
    --flex-edges: 30%;
    --flex-mid: 40%;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

input[type="number"] {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 2rem;
    text-align: center;
    outline: 0;

}

.container {
    display: flex;
    height: 100vh;
}

#leftThird {
    flex-basis: var(--flex-edges);
    display: flex;
    border-right: 2px solid cadetblue;
    justify-content: center;
    padding: 1%;
}

#midThird {
    flex: var(--flex-mid);
    display: flex;
    justify-content: center;
    align-items: center;
}

#rightThird {
    flex: var(--flex-edges);
    border-left: 2px solid cadetblue;
}