:root {
    --sudoku-board-size: 65vh;
    --grid-item-dim: calc(var(--sudoku-board-size) / 9);
    --sudoku-thick-border: 4px;
    --flex-edges: 30%;
    --flex-mid: 40%;
}

.container {
    display: flex;
    height: 100vh;
}

#leftThird {
    flex-basis: var(--flex-edges);
    display: flex;
    border-right: 2px solid cadetblue;
    justify-content: center;
    padding: 1%;
}

#midThird {
    flex: var(--flex-mid);
    display: flex;
    justify-content: center;
    align-items: center;
}

#rightThird {
    flex: var(--flex-edges);
    border-left: 2px solid cadetblue;
}

#sudoku-board {
    width: var(--sudoku-board-size);
    height: var(--sudoku-board-size);
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

input[type=number] {
    border: 1px solid black;
    background-color: none;
    outline: 0;
    width:100%;
    height:100%;
    padding: 0;
    text-align: center;  
    font-size: 2rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#sudoku-board :nth-child(3n):not(:nth-child(9n)) {
    border-right: var(--sudoku-thick-border) solid grey;
}

#sudoku-board :nth-child(-n+27):nth-child(n+19) {
    border-bottom: var(--sudoku-thick-border) solid grey;
}

#sudoku-board :nth-child(-n+54):nth-child(n+46) {
    border-bottom: var(--sudoku-thick-border) solid grey;
}

#sudoku-board :nth-child(-n+27):nth-child(n+19) {
    border-bottom: var(--sudoku-thick-border) solid grey;
}